
<br>
<br>
<br>
<div class="mt-4" style="margin-left: 30px;">
    <div class="row">
        <!-- First row -->
        <div class="col-md-6 mt-4">
            <h4>In Traffic</h4>
            <div #chartContainer></div>
        </div>
        <div class="col-md-6 mt-4">
            <h4>Out Traffic</h4>
            <div #outChartContainer></div>
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-6 mt-4">
            <h4>In and Out Traffic</h4>
            <div #inoutChartContainer></div>
        </div>
    
        <div class="col-md-6 mt-4">
            <h4>In Errors</h4>
            <div #inErrChartContainer></div>
        </div>
    </div>
    

    <div class="row">
        <!-- Second row -->
        
        <div class="col-md-6 mt-4">
            <h4>Out Errors</h4>
            <div #outErrChartContainer></div>
        </div>
        <div class="col-md-6 mt-4">
            <h4>In Out Errors</h4>
            <div #inOutErrChartContainer></div>
        </div>
    </div>
</div>
